@import "../../bower_components/sexy/src/normalize";
@import "../../bower_components/sexy/src/sexy";

@import "variables";

@import "button";
@import "fake-card";
@import "loading";

*,
*:before,
*:after { 
	box-sizing: border-box;	
}

body {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fafafa;
}

.hero-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	&.is-empty { 
		padding-top: 30px;
		display: block;
	}
	
	> .fake-card {
		display: inline-block;
		width: 20%;
		margin-right: 1em;
		@include for("mobile") {
			width: 100%;
			min-hegiht: 150px;
			margin-right: 0;
			margin-bottom: 1em;	
		}
	}

	> .hero-card {
		flex-basis: 30%;
		margin-right: 1em;

		@include for("mobile") {
			flex-basis: 100%;
			margin-right: 0;
			margin-bottom: 1em;	
		}

		&:last-child { margin-right: 0; }
	}


}

@include block(hero-card) {
	padding: .5em 1em;

	border: 3px solid #333;
	box-shadow: 0 0 8px 3px rgba(225, 225, 225, .7);
	
	background-color: #fff;

	transition: all ease .2s;

	cursor: pointer;

	&.is-selected,
	&:hover { box-shadow: 0 0 10px 6px rgba(200, 200, 200, .7); }

	text-align: center;
	@include element(image) {
		max-width: 50%;

		border-radius: 50%;
		
	}
}

@include block(hero-profile) {
	width: 100%;
	padding: 20px;

	border: 1px solid #aaa;
	background-color: #fff;

}